<html lang="en">

<head>
  <title>Login - Hawkeye</title>
  <%- include ../_layout/Resources.ejs %>
  <link rel="stylesheet" href="/css/Authentication.css" />
</head>

<body class="login">
  <!-- show any messages that come back with authentication -->
  <div class="login-messages text-center">
    <%- messages('./_layout/Message', locals) %>
  </div>
  <div class="login-body">
    <!-- <img class="logo" src="/images/Hawkeye_logo.png" width="250" height="190" alt="" /> -->
    <div class="logo">
      <h2>Hawkeye</h2>
    </div>
    <form class="auth-form" action="/auth/login" method="POST">
      <legend>Login</legend>
      <input type="text" id="username" name="username" placeholder="Email" onfocus="this.placeholder=''"
        onblur="this.placeholder='Email'">
      <input type="password" id="password" name="password" placeholder="Password" onfocus="this.placeholder=''"
        onblur="this.placeholder='Password'">
      <input type="submit" name="submit" value="Sign In">
    </form>
    <div class="footer login-footer">
      <p>
        Don't have an account?
        <b><u><a href="/auth/signup">Create one now</a></u></b>
      </p>
    </div>
  </div>
</body>

</html>