<div id="messages">
  <% Object.keys(messages).forEach(function (type) { %>
    <% messages[type].forEach(function (message) { %>
      <div id="flashAlert" class="alert <% if (type == 'error') { %> alert-danger <% } else { %> alert-<%= type %> <% } %>">
        <%= message %>
      </div>
    <% }) %>
  <% }) %>
</div>