<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">Hawkeye</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li <% if(nav_dir === 'dashboard') { %>class='active'<% } %>>
        <a class="nav-link" href="/dashboard"><span class="fas fa-tachometer-alt"></span> Dashboard</a>
      </li>
      <li <% if(nav_dir === 'applications') { %>class='active'<% } %>>
        <a class="nav-link" href="/applications"><span class="fa fa-cubes"></span> Applications</a>
      </li>
      <li <% if(nav_dir === 'clusters') { %>class='active'<% } %>>
        <a class="nav-link" href="/clusters"><span class="pficon-cluster"></span> Clusters</a>
      </li>
      <li <% if(nav_dir === 'hosts') { %>class='active'<% } %>>
        <a class="nav-link" href="/hosts"><span class="pficon-container-node"></span> Hosts</a>
      </li>
      <li <% if(nav_dir === 'storage') { %>class='active'<% } %>>
        <a class="nav-link" href="/storage"><span class="pficon-volume"></span> Storage</a>
      </li>
      <li <% if(nav_dir === 'admin') { %>class='active'<% } %>>
        <a class="nav-link" href="/admin"><span class="fas fa-cogs"></span> Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- user.uid %></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>